* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none; }

html {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 10px; }

img {
  max-width: 100%;
  display: block;
  height: 100%; }

svg {
  max-width: 100%;
  height: 100%;
  width: 100%; }

li {
  list-style-type: none; }

H2 {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1.1rem; }

img {
  max-width: 100%;
  height: 100%; }

/*
map buttons
*/
.navigation {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transform: translateY(-120%); }
  @media (min-width: 1024px) {
    .navigation {
      height: 10vh;
      transform: translateY(0%); } }
  .navigation::after {
    position: absolute;
    content: '';
    bottom: 0;
    width: 100%;
    height: 4rem;
    background: #213A40; }
    @media (min-width: 1024px) {
      .navigation::after {
        display: none; } }

.navigation__container {
  height: 80%;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column; }
  @media (min-width: 1024px) {
    .navigation__container {
      flex-direction: row;
      align-items: center;
      width: 100%;
      justify-content: space-between; } }

.navigation__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; }
  @media (min-width: 1024px) {
    .navigation__list {
      flex-direction: row;
      width: 30%;
      justify-content: space-between;
      align-items: center;
      height: 100%; } }
  .navigation__list li {
    padding-top: 3rem;
    font-size: 2rem; }
    @media (min-width: 1024px) {
      .navigation__list li {
        padding-top: 0;
        text-align: end; } }

.navigation__logo {
  max-width: 100%; }
  @media (min-width: 1024px) {
    .navigation__logo {
      width: 20%; } }

.navigation-burger {
  position: absolute;
  width: 3rem;
  height: 2rem;
  z-index: 999;
  top: 10%;
  right: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }
  @media (min-width: 1024px) {
    .navigation-burger {
      display: none; } }
  .navigation-burger__item {
    background: #213A40;
    width: 100%;
    height: .2rem; }

.display-none {
  display: none; }

.translateAdd {
  position: absolute;
  transform: rotate(45deg);
  animation: show 1s; }

.translateMinus {
  position: absolute;
  transform: rotate(-45deg); }

.active {
  transform: translateY(0%);
  transition: 1s all ease; }

@keyframes show {
  0% {
    transform: rotate(0deg);
    opacity: 0; }
  50% {
    transform: rotate(30deg);
    opacity: 0.5; }
  100% {
    transform: rotate(45deg);
    opacity: 1; } }
