* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none; }

html {
  font-family: 'Advent Pro', sans-serif;
  font-weight: 300;
  font-size: 10px;
  color: #011126;
  letter-spacing: .1rem; }

img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  height: 100%;
  width: 100%; }

a {
  color: #212426 !important; }

H1 {
  font-family: 'Lalezar', cursive; }

svg {
  max-width: 100%;
  height: 100%;
  width: 100%;
  max-height: 100%; }

li {
  list-style-type: none; }

H2 {
  letter-spacing: 1.1rem;
  font-family: 'Lalezar', cursive; }

h3 {
  font-family: 'Advent Pro', sans-serif;
  font-weight: 300;
  line-height: 1.3 !important; }

img {
  max-width: 100%;
  height: 100%; }

/*
map buttons
*/
.navigation {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-120%);
  z-index: 100;
  width: 100%;
  background: whitesmoke; }
  @media (min-width: 1024px) {
    .navigation {
      height: 20vh;
      transform: translateY(0%); } }

.navigation__container {
  height: 70%;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background: whitesmoke;
  position: relative; }
  @media (min-width: 550px) and (orientation: landscape) and (max-width: 700px) {
    .navigation__container {
      height: 100%; } }
  @media (min-width: 1024px) {
    .navigation__container {
      flex-direction: row;
      align-items: center;
      width: 70%;
      justify-content: space-between;
      height: 100%;
      background: whitesmoke;
      height: 100%; } }

.navigation__telephone {
  display: none; }
  @media (min-width: 1024px) {
    .navigation__telephone {
      position: absolute;
      display: block;
      top: 10%;
      left: 0; } }

a[href^="tel:"] {
  color: #84898C !important;
  font-style: initial; }

.navigation-media {
  position: absolute;
  height: 2rem;
  width: 6rem;
  display: flex;
  top: 10%;
  right: 0;
  display: flex;
  justify-content: space-between; }
  .navigation-media a {
    height: 75%;
    width: 40%; }

.navigation-media__item {
  height: 100%; }

.navigation__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  height: 70%; }
  @media (min-width: 550px) and (orientation: landscape) and (max-width: 700px) {
    .navigation__list {
      height: 90%; } }
  @media (min-width: 1024px) {
    .navigation__list {
      flex-direction: row;
      width: 40%;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      padding-top: 2rem; } }
  .navigation__list li {
    padding-top: 3rem;
    font-size: 1.6rem;
    color: #3C4144; }
    @media (min-width: 550px) and (orientation: landscape) and (max-width: 700px) {
      .navigation__list li {
        font-size: 1.3rem; } }
    @media (min-width: 1024px) {
      .navigation__list li {
        padding-top: 0;
        text-align: end;
        font-size: 1.2rem; } }

.navigation__logo {
  max-width: 60%;
  height: 60%;
  display: none; }
  @media (min-width: 1024px) {
    .navigation__logo {
      height: 100%;
      display: flex;
      width: 20%;
      padding-top: 2rem; } }

.home-link {
  display: flex;
  justify-content: center;
  align-items: center; }
  @media (min-width: 1024px) {
    .home-link {
      height: 100%;
      justify-content: flex-start; } }

.navigation-burger {
  position: fixed;
  width: 3rem;
  height: 2rem;
  z-index: 999;
  top: 10%;
  right: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }
  @media (min-width: 1024px) {
    .navigation-burger {
      display: none; } }
  .navigation-burger__item {
    background: whitesmoke;
    width: 100%;
    height: .2rem; }

.display-none {
  display: none; }

.translateAdd {
  position: absolute;
  transform: rotate(45deg);
  animation: show 1s; }

.translateMinus {
  position: absolute;
  transform: rotate(-45deg); }

.active {
  transform: translateY(0%);
  transition: 1s all ease; }

.hide {
  transform: translateY(-120%);
  transition: 1s all ease; }
  @media (min-width: 1024px) {
    .hide {
      transform: translateY(0%);
      transition: 1s all ease; } }

.dark-background {
  background: black; }

.dark-item {
  background: black; }

.navigation__dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer; }

.dropdown__list-hide {
  height: 0;
  opacity: 0;
  transition: .5s ease-in;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center; }
  .dropdown__list-hide a {
    height: 0;
    width: 0; }
  @media (min-width: 1024px) {
    .dropdown__list-hide {
      position: absolute;
      z-index: -1; } }

.dropdown__list-visible {
  height: 10rem;
  opacity: 1;
  transition: .5s ease-in;
  display: block;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .dropdown__list-visible a {
    height: 4rem;
    width: 10%; }
    @media (min-width: 550px) and (orientation: landscape) and (max-width: 700px) {
      .dropdown__list-visible a {
        height: 3rem; } }
  @media (min-width: 1024px) {
    .dropdown__list-visible {
      position: absolute;
      left: 0;
      bottom: -430%;
      height: 5rem;
      display: flex;
      justify-content: space-between;
      align-items: flex-start; } }

.dropdown-item {
  font-size: 1.5rem !important;
  color: #84898C !important;
  height: 2rem !important; }
  @media (min-width: 1024px) {
    .dropdown-item {
      font-size: 1rem !important;
      z-index: -1 !important; } }

.dropdown__list--construction {
  background: white !important; }

@keyframes show {
  0% {
    transform: rotate(0deg);
    opacity: 0; }
  50% {
    transform: rotate(30deg);
    opacity: 0.5; }
  100% {
    transform: rotate(45deg);
    opacity: 1; } }

.header {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/pictures/shopping2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 60%; }
  .header__container {
    height: 95%;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    overflow: hidden; }
    @media (min-width: 1024px) {
      .header__container {
        align-items: flex-start;
        flex-direction: row; } }

.button {
  position: absolute;
  width: 10rem;
  height: 4rem;
  border: .1rem solid black;
  display: block;
  background: white;
  font-size: 1.3rem;
  letter-spacing: .3rem;
  bottom: 10%;
  right: 0; }
  .button:hover {
    background: #212426;
    color: white; }
  @media (min-width: 1024px) {
    .button {
      position: absolute;
      width: 10rem;
      height: 4rem;
      border: .1rem solid black;
      display: block;
      background: white;
      font-size: 1.3rem;
      letter-spacing: .3rem;
      bottom: 10%;
      right: 0; } }

.about {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media (max-width: 320px) {
    .about {
      height: 60vh; } }
  .about__container {
    height: 95%;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center; }

.about__text {
  width: 80%;
  margin: 0 auto;
  text-align: center; }
  .about__text p {
    font-size: 1.3rem; }

.offer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; }
  @media (min-width: 1024px) {
    .offer {
      height: 50vh; } }
  .offer__container {
    height: 95%;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden; }
    @media (min-width: 550px) and (orientation: landscape) and (max-width: 700px) {
      .offer__container {
        width: 50%; } }
    @media (min-width: 768px) and (max-width: 1000px) {
      .offer__container {
        width: 50%; } }
    @media (min-width: 1024px) {
      .offer__container {
        flex-direction: row; } }

.contact {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .contact__container {
    height: 95%;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center; }

.contact__map {
  height: 80%;
  width: 50%; }

.gm-style-mtc {
  display: none; }
  @media (min-width: 768px) and (max-width: 1000px) {
    .gm-style-mtc {
      display: block; } }

.gmnoprint {
  display: none; }
  @media (min-width: 768px) and (max-width: 1000px) {
    .gmnoprint {
      display: block; } }

.gm-control-active {
  display: none; }
  @media (min-width: 768px) and (max-width: 1000px) {
    .gm-control-active {
      display: block; } }

.contact__content {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%; }
  .contact__content address {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.3rem;
    width: 95%;
    margin: 0 auto; }
    .contact__content address p {
      text-align: center;
      padding-top: 2rem; }

.footer {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #212426; }
  @media (min-width: 550px) and (orientation: landscape) and (max-width: 700px) {
    .footer {
      height: 60vh; } }
  .footer__container {
    height: 95%;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; }
    @media (min-width: 1024px) {
      .footer__container {
        width: 60%; } }

.footer__logo {
  width: 30%;
  height: 100%; }
  @media (min-width: 1024px) {
    .footer__logo {
      height: 20%;
      position: absolute;
      left: 0;
      top: 10%; } }
  .footer__logo svg {
    height: 50%;
    width: 60%; }
    @media (min-width: 1024px) {
      .footer__logo svg {
        height: 100%; } }

.footer__links {
  width: 40%;
  height: 60%; }
  @media (max-width: 320px) {
    .footer__links {
      width: 35%; } }
  .footer__links ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    align-items: flex-end; }
    .footer__links ul li {
      color: white; }

.footer__icons {
  width: 30%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .footer__icons a {
    height: 50%; }

.footer__icon {
  height: 50%; }

.footer__all-rights {
  position: absolute;
  left: 0%;
  bottom: 50%;
  width: 30%; }
  @media (min-width: 1024px) {
    .footer__all-rights {
      bottom: 10%; } }
  .footer__all-rights span {
    color: white; }

.footer__about-author {
  position: absolute;
  right: 0;
  bottom: 2%; }
  .footer__about-author span {
    color: white; }
