.footer{
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $dark;
    @include phone-landscape{
        height: 60vh;
    }
  
    &__container{
        height: 95%;
        width: 95%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        @include desktop{
            width: 60%;

        }
        
    }
}
.footer__logo{
  width: 30%;
  height: 100%;
  @include desktop{
      height: 20%;
      position: absolute;
      left: 0;
      top: 10%;
  }
  svg{
      height: 50%;
      width: 60%;
      @include desktop{
          height: 100%;
         
      }
  }
}
.footer__links{
    width: 40%;
    height: 60%;
    @include small-phone{
        width: 35%;
    }
   
    ul{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        align-items: flex-start;
        padding-left: 1rem;
        @include desktop{
            align-items: flex-end;
        }
        li{
            color: white;
            padding-right: 2rem;
            
        }
    }
}
.footer__icons{
    width: 30%;
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    a{
        height: 50%;
        
    }

}
.footer__icon{
    height: 50%;
    width: 80%;
    
}
.footer__all-rights{
    position: absolute;
    left: 0%;
    bottom: 50%;
    width: 30%;
    @include desktop{
        bottom: 10%;

    }
    span{
        color: white;
       
    }
    
}
.footer__about-author{
    position: absolute;
    right: 0;
    bottom: 2%;
    span{
        color: white;
       
    }
}