.navigation{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
 
    transform: translateY(-120%);
    z-index: 100;
    width: 100%;
    background: whitesmoke;
 
        @include desktop{
            height: 20vh;
            transform: translateY(0%);
        }
   
}
.navigation__container{
    height: 70%;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background: whitesmoke;
    position: relative;
    @include phone-landscape{
        height: 100%;
    }
        @include desktop{
            flex-direction: row;
            align-items: center;
            width: 70%;
            justify-content: space-between;
            height: 100%;
            background: whitesmoke;
            height: 100%;
        }

}
.navigation__telephone{
    display: none;
    @include desktop{
        position: absolute;
        display: block;
        top: 10%;
        left:0 ;
       
       
    }

}
a[href^="tel:"] {
    color:$shadeno4 !important;
    font-style: initial;
}

.navigation-media{
    position: absolute;
    height:2rem;
    width: 6rem;
    display: flex;
    top: 10%;
    right: 0;
    display: flex;
    justify-content: space-between;
   a{
       height: 75%;
        width: 40%;
   }
    
}
.navigation-media__item{
    height: 100%;
}
.navigation__list{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    height: 70%;
    @include phone-landscape{
        height: 90%;
    }
        @include desktop{
            flex-direction: row;
            width: 40%;
            justify-content: space-between;
            align-items: center;
            height: 100%;
            padding-top: 2rem;
        }
    li{
        padding-top: 3rem;
        font-size: 1.6rem;
        color: $shadeno1;
        @include phone-landscape{
            font-size: 1.3rem;
        }
        @include desktop{
            padding-top: 0;
            text-align: end;
            font-size: 1.2rem;
            
      
        }
    }
}
.navigation__logo{
    max-width: 60%;
    height: 60%;
    display: none;
    @include desktop{
        height: 100%;
        display: flex;
        width: 20%;
        padding-top: 2rem;
       
    }
    
    
        
}
.home-link{
    display: flex;
    justify-content: center;
    align-items: center;
    @include desktop{
        height: 100%;
        justify-content: flex-start;
    }
}
.navigation-burger{
    position: fixed;
    width:3rem;
    height: 2rem;
    z-index: 999;
    top: 10%;
    right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
        @include desktop{
            display: none;
        }
    &__item{
        background: whitesmoke;
        width: 100%;
        height: .2rem; 
    }
}
.display-none{
    display: none;
}
.translateAdd{
    position: absolute;
    transform: rotate(45deg);
    animation: show 1s;
}
.translateMinus{
    position: absolute;
    transform: rotate(-45deg);
   
    
}
.active{
    transform: translateY(0%);
    transition: 1s all ease;
   
}
.hide{
    transform: translateY(-120%);
    transition: 1s all ease;
    @include desktop{
        transform: translateY(0%);
        transition: 1s all ease;
    }
}
.dark-background{
    background: black;
}
.dark-item{
    background: black;
}
.navigation__dropdown{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}
.dropdown__list-hide{
    height: 0;
    opacity: 0;
    transition: .5s ease-in;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    a{
        height: 0;
        width: 0;
    }
    @include desktop{
        position: absolute;
        z-index: -1;
    }

}
.dropdown__list-visible{
    height: 10rem;
    opacity: 1;
    transition: .5s ease-in;
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: center ;
    a{
        height: 4rem;
        width: 10%;
        @include phone-landscape{
            height: 3rem;
        }
    }
   @include desktop{
       position: absolute;
       left: 0;
       bottom: -430%;
       height: 5rem;
       display: flex;
       justify-content: space-between;
       align-items: flex-start;
   }
}
.dropdown-item{
    font-size: 1.5rem !important;
    color: $shadeno3 !important;
    height: 2rem !important;
    @include desktop{
        font-size: 1rem !important;
        z-index: -1 !important;
      
    }
}
.dropdown__list--construction{
    background: white !important;
}
@keyframes show{
    0%{
        transform: rotate(0deg);
        opacity:0;
       
    }
    50%{
        transform: rotate(30deg);
        opacity: 0.5;
        
    }
    100%{
        transform: rotate(45deg);
        opacity: 1;
        
    }

}
