.navigation{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;

    z-index: -100;
    width: 100%;
    background: whitesmoke;
    opacity:0;
    transition: 1s all ease;
        @include desktop{
            height: 20vh;
            transform: translateY(0%);
            position: initial;
            opacity: 1;
        }
   
}
.fade{
    opacity: 1 !important;
    z-index: 999;
}
.navigation__container{
    height: 70%;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background: whitesmoke;
    position: relative;
    @include phone-landscape{
        height: 50%;
    }
        @include desktop{
            flex-direction: row;
            align-items: center;
            width: 70%;
            justify-content: space-between;
            height: 100%;
            background: whitesmoke;
            height: 100%;
        }

}
.navigation__telephone{
    display: none;
    @include desktop{
        position: absolute;
        display: block;
        top: 10%;
        left:0 ;
       
       
    }

}
a[href^="tel:"] {
    color:$shadeno4 !important;
    font-style: initial;
}

.navigation-media{
    position: absolute;
    height:2rem;
    width: 6rem;
    display: flex;
    top: 10%;
    right: 0;
    display: flex;
    justify-content: space-between;
    z-index: 100;
   
   a{
       height: 75%;
        width: 40%;
        &:hover{
            opacity: 0.5 !important;
        }
       
   }
    
}
.navigation-media__item{
    height: 100%;
    
}
.navigation__list{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    height: 70%;
    @include phone-landscape{
        height: 90%;
    }
        @include desktop{
            flex-direction: row;
            width: 40%;
            justify-content: space-between;
            align-items: center;
            height: 100%;
            padding-top: 2rem;
        }
    li{
        padding-top: 3rem;
        font-size: 1.6rem;
        color: $shadeno1;
        &:hover{
            opacity: .5;
        }
        @include phone-landscape{
            font-size: 1.3rem;
        }
        @include desktop{
            padding-top: 0;
            text-align: end;
            font-size: 1.2rem;
            
      
        }
    }
}
.navigation__logo{
    max-width: 60%;
    height: 60%;
    display: none;
    @include desktop{
        height: 100%;
        display: flex;
        width: 30%;
        padding-top: 2rem;
       
    }
    
    
        
}
.home-link{
    display: flex;
    justify-content: center;
    align-items: center;
    @include desktop{
        height: 100%;
        justify-content: flex-start;
    }
}
.navigation-burger{
    position: fixed;
    width:3rem;
    height: 2rem;
    z-index: 1999;
    top: 10%;
    right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
        @include desktop{
            display: none;
        }
    &__item{
        background: whitesmoke;
        width: 100%;
        height: .2rem; 
    }
}
.display-none{
    display: none;
}
.translateAdd{
    position: absolute;
    
    animation: show 1s;
}
.translateMinus{
    position: absolute;
    bottom: -10%;
    
  
   
    
}

.dark-background{
    background: black;
}
.dark-item{
    background: black !important;
}



@keyframes show{
    0%{
        transform: translateX(-10%);
        opacity:0;
       
    }
    50%{
        transform: translateX(-50%);
        opacity: 0.5;
        
    }
    100%{
        transform: translateX(-100%);
        opacity: 1;
        
    }

}
